{% extends "unloggedTemplates/unloggedTemplate.html" %}
{% block content %}
    <input id="usernameRegistration" class="input100 jtl" placeholder="{{usernameHTML}}">

    <input id="passwordRegistration" class="input100jtl" type="password" placeholder="{{passwordHTML}}">
    <input id="passwordCheckRegistration" class="input100jtl" type="password" placeholder="{{passwordConfirmationHTML}}">
            
    <button id="LoginButton" onclick="handleButtonClick('register',{'username':usernameRegistration.value,'password':passwordRegistration.value},{'{{PasswordsNoMatchERR}}':passwordRegistration.value==passwordCheckRegistration.value},'POST')">
        {{registrationHTML}}
    </button>

    <div onclick="userRequest('login')">
        {{loginHTML}}
    </div>
{% endblock %}


