{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>DOFBC</title>
    <link rel="stylesheet" href="{%static 'css/general.css' %}">
    <link rel="stylesheet" href="{%static 'css/mobileAlt.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div id="hiddenTemplates">
        {% include 'hiddenTemplates.html' %}
    </div>
    <div class="overlay">
        <div id="utContent" > 
            {% include includePage %}
        </div>    
    </div>
    <script>
        var csrfToken = "{{csrf_token}}"
    </script>
    <script src="{% static 'js/general.js' %}"></script>
    <script src="{% static 'js/chart.js' %}"></script>
</body>
</html>