/* background for all pages*/
.overlay{
    position: fixed;
    width: 100%;
    min-height: 100vh;
    margin: 0mm;
    padding: 0mm;
    top:0px;
    left:0px;
    background-color: rgb(217, 230, 172);
}

.rightDownCorner{
    position: fixed;
    top:80vh;
    left:90vw;
}

.twoFacedBlock{
    display: flex;
}

.centerTitle{
    max-width:20vw;
    margin-left: 35vw;
    margin-top: 7vh;
    text-align: center;
    font-size: 1.5em; 
    font-weight: bold;
    display: flex;
}

/* classes for login/registration pages */

.faceBlock{
    display: flexbox;
    padding: 3vw;
    max-height: 90vh;
    overflow-y:auto;
}

.aboutApp{
    width: 50vw;
    margin-left: 20vw;
    margin-bottom: 10vh;
    background-color: rgb(159, 189, 124);
}

.formBlock{
    background-color: rgb(106, 168, 95);
    width:10vw;
}

/* classes for row lists */
.rowList{
    background-color: rgb(140 185 115);
    width: 30vw;
    margin-left: 10vw;
    margin-top: 5vh;
    max-height: 90vh;
    overflow-y:auto;
    text-align: center;
}

.fbRow{
    min-height: 4vh;
    width: 16vw;
    margin-top: 0.7vh;
    margin-left: 7vw;
    padding: 2px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    background-color: rgb(21, 145, 77);
    display: flex;
    justify-content: center;
    align-items: center;
}

.endlistInput,.rowListBottom{
    margin-top: 1vh;
}

.rowListBottom{
    margin-left: 7vw;
    margin-top: 2vh;
    width: 10vw;
    display: flex;
    padding: 5px;
}

.endlistInput{
    height:1.5em;
}

.endlistButton{
    margin-left: 2.5vw;
    margin-bottom: 1vh;   
}
/* classes for block lists */
.blockList{
    margin-top: 8vh;
    margin-left: 10vw;
    max-height: 95vh;
    overflow-y: auto;
}

.fbBlock{
    min-height: 18vh;
    width: 9vw;
    margin:1em;
    padding: 5px;
    background-color: rgb(21, 145, 77);
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

.blockRow{
    display: flex;
}

/* buttons */
.newButton,.deleteButton{
   border-radius: 60%;
   padding:8px; 
}

.newButton{
    background-color: rgb(7, 148, 117);
}

.deleteButton{
    background-color: rgb(143, 53, 26);
    width: 2.5em;
    height: 2.5em;
}

.bigCircle{
    height: 9em;
    width: 9em;
    font-weight: bolder;
    font-size: larger;
}

