/* background for all pages*/
.overlay{
    position: fixed;
    width: 100%;
    min-height: 100vh;
    margin: 0mm;
    padding: 0mm;
    top:0px;
    left:0px;
    background-color: rgb(217, 230, 172);
}

/* classes for login/registration pages */
.twoFacedBlock{
    display: flex;
}

.faceBlock{
    display: flexbox;
    padding: 3vw;
    max-height: 90vh;
    overflow-y:auto;
}

.aboutApp{
    width: 50vw;
    margin-left: 20vw;
    margin-bottom: 10vh;
    background-color: rgb(159, 189, 124);
}

.formBlock{
    background-color: rgb(106, 168, 95);
    width:10vw;
}