<input type="hidden" id="feedbackObjId" value="{{Feedback.id}}">
<h2>
    <div id="nameFeedback" onclick="edittextContent(this,'feedback')">
        {% if Feedback.name %}
            {{Feedback.name}}
        {% else %}
            <i>{{NoNameYetHTML}}</i>
        {% endif %}
    </div>
</h2>
<div id="questionsFeedback">
    <h2>{{verbalQuestionsHTML}}</h2>
    {% for question in Questions.Verbal %}
        <div class="verbalQuestion">
            {{question}}
        </div>
    {% endfor %}
    <h2>{{ratingQuestionsHTML}}</h2>
    {% for question in Questions.Rating %}
        <div class="rankingQuestion">
            {{question}}
        </div>
    {% endfor %}
</div>
